<div class="modal-header">
  <h3 class="modal-title">{{ 'AUTO_INSERT_CHANGE_TITLE' | translate }}</h3>
</div>
<div class="modal-body">
  <h4>{{ info | translate }}</h4>
</div>
<div class="modal-body">
  <h4>{{ 'AUTO_INSERT_CHANGE_CONTINUE' | translate }}</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="continue()">
    {{ 'CONTINUE' | translate }}
  </button>
  <button class="btn btn-danger" type="button" ng-click="cancel()">
    {{ 'CANCEL' | translate }}
  </button>
</div>
